<%= simple_form_for quote do |f| %>
  <% if quote.errors.any? %>
    <div class="text-rose-500 bg-rose-200 p-2 rounded-md">
       <%= quote.errors.full_messages.to_sentence.capitalize %>
     </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true } %>
  <%= f.submit class: "inline-block px-4 py-1.5 rounded-md bg-origin-border border-solid border-2 border-transparent font-bold transition text-white bg-gradient-to-r from-green-500 to-emerald-600" %>
<% end %>
