<%= link_to sanitize("&larr; Back to quotes"), quotes_path, class: "text-rose-500" %>

<div class="flex flex-wrap gap-3 justify-between mt-4 mb-6 md:mb-8">
  <h1 class="text-3xl"><%= @quote.name %></h1>
</div>
